@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: "PT Sans", sans-serif;
}
body{
  font-family: "PT Sans", sans-serif;
}

#navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #94b89f;
}

#navbar li {
  float: left;
  width: 33.33%;
  border-right:1px solid #bbb;
}

#navbar li:hover:not(.active) {
  background-color: #94b89f;
}

.active {
  background-color: #46614e;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li:hover{
  background-color:#bbb
}

section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.one{
  background-color: #f2f9f1;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.two{
  text-align: center;
  background-color: #ddeedf;
}

.three{
  text-align: center;
  background-color: #b6cdbd;
}

.container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 200vh;
}

.name{
  color: #5c715e;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);

  font-size: 75px;
}

#portrait, #bike, #poland{
  border: 5px solid black;
}

#contacts{
  position: absolute;
  top: 90%;
}

#contacts ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

#contacts li {
  width: auto; 
  padding: 2px;
  margin: 20px; 
  float: none; 
}

#text ,#info_295,#info_225{
  text-align: justify;
  letter-spacing: 1px;
  width: 50%;
  padding:10%;
  margin:2%;
}

.one_1{
  background-color: #f2f9f1;
  height: 100vh;
}

.two_2{
  background-color: #ddeedf;
}

#report_295, #code_295 ,#pic_225_1, #pic_225_2{
  margin-top: 2%;
  margin-left:5%;
  border:5px solid #46614e;
}

#header_295{
  color: #5c715e;
  position: absolute;
  top:15%;
  font-size: 75px;
  margin-bottom: 1%;
}

#header_225{
  color: #5c715e;
  position: absolute;
  top:115%;
  font-size: 75px;
  margin-bottom: 1%;
}
